.login-page{
    background-color: #a9c7eb;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-widget{
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    background: #FFF;
    box-shadow: -1px -1px 10px #423f3f;
}